.colors {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
    .brandMid{
        background-color: var(--brand-mid);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }

    .brandDark{
        background-color: var(--brand-dark);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .purple{
        background-color: var(--purple);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .fuchia{
        background-color: var(--fuchia);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .pink{
        background-color: var(--pink);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .orange{
        background-color: var(--orange);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .yellow{
        background-color: var(--yellow);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .lime{
        background-color: var(--lime);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .green{
        background-color: var(--green);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .cyan{
        background-color: var(--cyan);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
    .navy{
        background-color: var(--navy);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
    }
}

.brandMid:hover {
    border: 1px solid gray;
    transition: .5s;
}

.brandDark:hover {
    border: 1px solid gray;
    transition: .5s;
}
.purple:hover {
    border: 1px solid gray;
    transition: .5s;
}
.fuchia:hover {
    border: 1px solid gray;
    transition: .5s;
}
.pink:hover {
    border: 1px solid gray;
    transition: .5s;
}
.orange:hover {
    border: 1px solid gray;
    transition: .5s;
}
.yellow:hover {
    border: 1px solid gray;
    transition: .5s;
}
.lime:hover {
    border: 1px solid gray;
    transition: .5s;
}
.green:hover {
    border: 1px solid gray;
    transition: .5s;
}
.cyan:hover {
    border: 1px solid gray;
    transition: .5s;
}
.navy:hover {
    border: 1px solid gray;
    transition: .5s;
}


.containerCards{
    display: flex;
    gap: 1rem;
}

.card {
    width: 10rem;
    height: 8rem;
    background-color: var(--input-stroke);
    border-radius: .5rem;   
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    cursor: pointer;
    

    img {
        padding: .5rem;
        border-radius: .5rem;
    }
}

.card:hover {
    border: 3px solid var(--brand-mid);
}



.TextButton {
    margin-top: 1rem;
    #btn {
        background-color: var(--shape-button);
        border: none;
        padding: 1rem 2rem;
        border-radius: .5rem;
        cursor: pointer;
        color: #fff;
        margin-top: .5rem;
        border: 2px solid var(--input-placehoder);
    }
}

#btn:focus {
    border: 2px solid var(--brand-mid);
}

