.dadosContat {
    .initialContat {
        display: flex;
        margin-top: 3rem;
        align-items: center;
        gap: 1rem;
    }

    .inputName {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        gap: .5rem;
    }
}

.emailName {
    display: flex;
    gap: .5rem;

    .inputNameEmail {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        gap: .5rem;
        width: 21.2rem;
    }
}

.listra {
    width: 100%;
    height: 1px;
    background-color: #80808049;
    margin-top: 3rem;
}

.descritionFooter{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;

    p{
        margin-top: .5rem;
    }
}

#btnFooter {
    display: flex;
    border: none;
    background-color: var(--brand-dark);
    color: white;
    padding: 1rem 2rem;
    border-radius: .3rem;
    margin-top: 3rem;
    cursor: pointer;
    box-shadow: 10px 5px 40px black;
    font-size: 1rem;
}
#btnFooter:hover {
    background-color: var(--brand-mid);
}