*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --input-bs: #1C1F21;
    --input-stroke: #363B40;
    --input-placehoder: #869198;

    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;
    --purple: #B259FF;
    --fuchia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    --danger-color: #FF5959;

    --shape-bg: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --tx-body: #C8CDD0;
    --tx-heading: #F9F9F9;
}

body {
    display: flex;
    flex-direction: column;
    
    margin-top: 5rem;
    

    background-color: var(--shape-body);
    font-family: "Roboto", serif;
}

h1, h2, h3 {
    font-family: "Baloo 2", sans-serif;
    color: var(--tx-heading);
}

span {
    color: var(--brand-mid);
}

h1 {
    text-align: center;
}

label {
    color: var(--tx-body);
}

input {
    background-color: var(--input-bs);
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--input-stroke);
    color: white;
    font-size: 1rem;
    margin-top: .5rem;
    outline: none;
    border: 2px solid transparent;
}



.inputClass {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
    input {
        height: 10rem;
    }
}

p {
    color: #ffffff;
}
.danger {
    color: var(--danger-color);
    display: none;
}

